@font-face {
    font-family: basic-comercial;
    src: url("../fonts/Basic-Commercial-LT-Com-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: helvetica;
    src: url(../fonts/Helvetica-Neue-LT-Com-35-Thin.ttf);
}

p {
    font-family: "helvetica" !important;

}

ul li {
    font-family: "helvetica" !important;
}

ul li p{
    font-size: 14px;
}

.about {
    padding-inline-start: 0px;
}

.about li {
    list-style-type: none;
}

body {
    font-family: "basic-comercial" !important;
    color: #383940 !important;
}

.logo {
    position: relative;
    display: inline-block;
}

.logo img {
    max-width: 230px;
    width: 100%;
}

.logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo:hover .img-top {
    display: inline;
}

.menu-buttons {
    position: relative;
    display: inline-block;
}

.menu-buttons img {
    max-width: 230px;
    width: 100%;
}

.menu-buttons .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.menu-buttons:hover .img-top {
    display: inline;
}


.autor {
    font-size: 48px;
    font-weight: 100;
    text-align: right;
    font-family: basic-comercial;
    margin-bottom: 0;
}

.autor-detail {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    font-family: 'basic-comercial';
    margin-top: -5px;
}

.container {
    background-color: #dfded9;
    max-width: 950px !important;
}

.revista {
    box-shadow: -37px -1px 9px 0 rgba(54, 49, 49, 0.69);
    -webkit-box-shadow: -37px -1px 9px 0 rgba(54, 49, 49, 0.69);
    -moz-box-shadow: -37px -1px 9px 0 rgba(54, 49, 49, 0.69);
}

.slider {
    padding: 5%;
}

.slide {
    position: relative;
    background: #c1bfb6;
    border-radius: 50% / 10%;
    text-indent: 0.1em;
    padding: 8%;
}

.slide:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}

.slide::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/projects/frame-slider.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
}

.boton {
    position: absolute;
    bottom: 5%;
}
.carousel-control-prev {
    width: 50% !important;
}

.carousel-control-next {
    width: 50% !important;
}

.nextPreviousButtons {
    display: flex;
    justify-content: center;
}

.tvshape {
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    text-indent: 0;
}

.tvshape::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/projects/frame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
}

.tvshape img {
    height: 100%;
    width: 100%;
}

.tvshape video {
    height: 100%;
    width: 100%;
    padding: 1%;
}

.playpause {
    background-image: url("../images/projects/play.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.menu-disco {
    background: url("../images/disco.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 97vh;
    max-height: 930px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -70px;
    position: relative;
}

section {
    display: block;
    position: relative;
}

.iconos {
    float: right;
    max-width: 225px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.date-text {
    font-size: 15px;
    float: right;
    font-weight: 700;
    font-family: 'basic-comercial';
}

.time-text {
    font-size: 11px;
    float: right;
}
.city-text {
    font-size: 15px;
    font-weight: 700;
    float: right;
    font-family: 'basic-comercial';
}

.day-text {
    font-size: 50px;
    text-align: right;
    display: block;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Menu*/
.nav-item img {
    max-width: 100%;
    width: 270px;
}

.nav-item a {
    padding: 0;
}

.navbar {
    margin-top: 6%;
}

/*Footer*/
.footer {
    margin-top: 50px;
}

.footer li a {
    font-size: 12px;
    font-weight: 500;
    color: #383940;
    font-family: basic-comercial;
}

.footer li {

    line-height: 1.1;
}

.footer img {
    max-width: 20px;
    float: left;
}

.footer .copyright p {
    font-size: 12px;
    text-align: right;
}

.copyright {
    font-size: 12px;
    text-align: right;
    border-top: solid 2px #b5b5b5;
    padding-top: 10px;
}

.socials {
    padding-bottom: 15px;
    display: block;
    float: right;
}

.socials .link,
.socials a {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border: solid 2px black;
    border-radius: 20px;
    /* background-color: #00a39c; */
    display: inline-block;
    transition: all 0.3s ease-in;
}

.socials .link:last-child,
.socials a:last-child {
    margin-right: 0;
}

.socials .link i,
.socials a i {
    color: #000;
}

.social-widget {
    margin-top: 30px;
    border: none;
    padding-top: 0;
}

.social-widget .link,
.social-widget a {
    background-color: #a8b0b6;
    margin-bottom: 10px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    body {
        margin: 5rem !important;
        background-color: #b0b0b2 !important;
    }

    .texto {
        font-size: 50px !important;
    }

}

/* IPHONE CASE*/
.iphone-x {
    position: relative;
    margin: 40px auto;
    width: 100%;
    background-color: #c1bfb6;
    border-radius: 40px;
    box-shadow: 0 0 0 11px #4c4c4c, 0 0 0 13px #a5a5a5, 0 0 0 16px #4c4c4c;
}
.iphone-x .front:after,
.iphone-x .front:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.iphone-x .front:before {
    top: 0;
    width: 40%;
    height: 20px;
    background-color: #4f4f4f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.iphone-x i,
.iphone-x s,
.iphone-x span {
    position: absolute;
    display: block;
    color: transparent;
}
.iphone-x c img {
    width: 50%;
    padding: 5% 0 0 5%;
}
.crt {
    top: 27px;
    width: 100%;
    padding: 0 5%;
    position: relative;
}

.sec-videos img {
    bottom: 3%;
    position: absolute;
}

.sec-videos .btn {
    position: absolute;
    bottom: -0.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff0;
    /* color: white; */
    /* font-size: 16px; */
    /* padding: 8px 32px; */
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25%;
    height: 10%;
    text-align: center;
}

.iphone-x span {
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    /* left: 30px; */
}
.iphone-x span + span {
    left: auto;
    right: 30px;
}

@media (min-width: 768px) {
    body {
        margin: 5rem !important;
        background-color: #b0b0b2 !important;
    }

    .texto {
        font-size: 50px !important;
    }

}

/* IPHONE CASE*/
.iphone-x {
    position: relative;
    margin: 40px auto;
    height: 92vh;
    max-height: 630px;
    width: 100%;
    background-color: #c1bfb6;
    border-radius: 40px;
    box-shadow: 0 0 0 8px #4c4c4c, 0 0 0 12px #a5a5a5, 0 0 0 14px #4c4c4c;
}
.iphone-x .front:after,
.iphone-x .front:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.iphone-x .front:before {
    top: 0;
    width: 40%;
    height: 20px;
    background-color: #4f4f4f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.iphone-x i,
.iphone-x s,
.iphone-x span {
    position: absolute;
    display: block;
    color: transparent;
}
.iphone-x c img {
    width: 50%;
    padding: 5% 0 0 5%;
}
.crt {
    top: 27px;
    width: 100%;
    padding: 0 5%;
    position: relative;
}

.sec-videos img {
    bottom: 3%;
    position: absolute;
}

.sec-videos .btn {
    position: absolute;
    bottom: -0.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff0;
    /* color: white; */
    /* font-size: 16px; */
    /* padding: 8px 32px; */
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25%;
    height: 10%;
    text-align: center;
}

.cabecera {
    top: -30px;
}

/* Smartphones (portrait & landscape) 
  #Dispositivo = MayorÃƒÂ­a de telÃƒÂ©fonos mÃƒÂ³viles (vertical y horizontal) 
  #ResoluciÃƒÂ³n = B/w 320px to 479px */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .iphone-x {
        height: 100vh;
        max-height: 750px;
    }

    .barras {
        display: none;
    }

    .desk {
        display: none;
    }

    .navbar {
        margin-top: 0%;
    }
    .cabecera {
        top: 0;
    }

    .autor {
        font-size: 35px;
    }

    .logo img {
        max-width: 200px;
        width: 100%;
    }

    .day-text {
        font-size: 35px;
    }

    .city-text {
        font-size: 12px;
    }

    .date-text {
        font-size: 12px;
    }

    .autor-detail {
        font-size: 12px;
    }

    .giant-quotes-quote {
        display: none;
    }

    .iconos {
        width: 75%;
    }

    .menu-disco {
        background: url("../images/disco-movil.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 570px;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }

    .pt-20 {
        padding-top: 30%;
    }

    .footer {
        margin-top: 0;
    }

    .footer img {
        width: 100%;
        max-width: 100%;
    }

    .footer .copyright p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }

}

/* #Dispositivo = Tablets de baja resoluciÃƒÂ³n y telÃƒÂ©fonos MÃƒÂ³viles (horizontal) 
  #ResoluciÃƒÂ³n = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .iphone-x {
        /* height: 100%; */
        height: 1000px;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    .movil {
        background-image: url("../images/menu-movil.jpg");
        background-position: center top;
        background-size: 100% auto;
        padding-top: 45% !important;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    .iphone-x {
        height: 750px;
    }

    .desk {
        display: none;
    }
    .barras {
        display: none;
    }
    .cabecera {
        top: 0;
    }

    .movil {
        background-image: url("../images/menu-movil.jpg");
        background-position: center top;
        background-size: 100% auto;
        padding-top: 45% !important;
    }

    .autor {
        font-size: 25px;
    }

    .logo img {
        max-width: 200px;
        width: 100%;
    }

    .day-text {
        font-size: 25px;
    }

    .city-text {
        font-size: 10px;
    }

    .date-text {
        font-size: 8px;
    }

    .autor-detail {
        font-size: 12px;
    }

    .giant-quotes-quote {
        display: none;
    }

    .iconos {
        width: 75%;
    }

    .menu-disco {
        background: url("../images/disco-movil.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 530px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        position: relative;
    }

    .pt-20 {
        padding-top: 50%;
    }

    .footer {
        margin-top: 0;
    }

    .footer img {
        width: 100%;
        max-width: 100%;
    }

    .footer .copyright p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }
}

/* iPads (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .autor {
        font-size: 29px;
    }

    .logo img {
        max-width: 200px;
        width: 100%;
    }

    .day-text {
        font-size: 29px;
    }

    .city-text {
        font-size: 11px;
        font-family: 'basic-comercial';
    }

    .date-text {
        font-size: 11px;
        font-family: 'basic-comercial';
    }

    .autor-detail {
        font-size: 11px;
        font-family: 'basic-comercial';
    }

    .giant-quotes-quote {
        display: none;
    }

    .iconos {
        width: 75%;
    }

    .menu-disco {
        background: url("../images/disco.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 570px;
        background-repeat: no-repeat;
        margin-top: 0;
        margin-bottom: 30px;
        position: relative;
    }

    .pt-20 {
        padding-top: 65%;
    }

    .footer {
        margin-top: 0;
    }

    .footer img {
        width: 100%;
        max-width: 20px;
    }

    .footer .copyright p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }
}

/* iPads (landscape) 
  #Dispositivo = Tablets, Ipads (horizontal) 
  #ResoluciÃƒÂ³n = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    //CSS 
}

/* iPads (portrait) 
  #Dispositivo = Tablets, Ipads (vertical) 
  #Resolucion = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* Ordenadores de sobremesa y portÃƒÂ¡tiles */
@media only screen and (min-width : 1224px) {
    .movil {
        display: none !important;
    }
}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 550px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) {}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    //CSS
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    .iphone-x {
        height: 500px;
    }
}

/* iPads (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* iPads (landscape) 
  #Dispositivo = Tablets, Ipads (horizontal) 
  #ResoluciÃƒÂ³n = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* iPads (portrait) 
  #Dispositivo = Tablets, Ipads (vertical) 
  #Resolucion = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* Ordenadores de sobremesa y portÃƒÂ¡tiles */
@media only screen and (min-width : 1224px) {
    //CSS 
}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {
    //CSS 
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    //CSS 
}
@font-face {
    font-family: basic-comercial;
    src: url("../fonts/Basic-Commercial-LT-Com-Bold.ttf");
}

body {
    font-family: "basic-comercial" !important;
    color: #383940 !important;
}

.logo {
    position: relative;
    display: inline-block;
}

.logo img {
    max-width: 230px;
    width: 100%;
}

.logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo:hover .img-top {
    display: inline;
}

.autor {
    font-size: 47px;
    font-weight: 100;
    text-align: right;
    font-family: basic-comercial;
    margin-bottom: 0;
    letter-spacing: -2px;
    color: #252628;
}

.autor-detail {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    font-family: 'basic-comercial' !important;
    margin-top: -5px;
}

.container {
    background-color: #dfded9;
    max-width: 1600px !important;
}

.revista {
    box-shadow: -37px -1px 9px 0 rgba(54, 49, 49, 0.69);
    -webkit-box-shadow: -37px -1px 9px 0 rgba(54, 49, 49, 0.69);
    -moz-box-shadow: -37px -1px 9px 0 rgba(54, 49, 49, 0.69);
}

.slider {
    padding: 5%;
}

.slide {
    position: relative;
    background: #c1bfb6;
    border-radius: 50% / 10%;
    text-indent: 0.1em;
    padding: 8%;
}

.slide:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}

.slide::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/projects/frame-slider.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
}

.boton {
    position: absolute;
    bottom: 5%;
}
.carousel-control-prev {
    width: 50% !important;
}

.carousel-control-next {
    width: 50% !important;
}

.nextPreviousButtons {
    display: flex;
    justify-content: center;
}

.tvshape {
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    text-indent: 0;
}

.tvshape::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/projects/frame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
}

.tvshape img {
    height: 100%;
    width: 100%;
}

.tvshape video {
    height: 100%;
    width: 100%;
    padding: 1%;
}

.playpause {
    background-image: url("../images/projects/play.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.menu-disco {
    background: url("../images/disco.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 97vh;
    max-height: 930px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -70px;
    position: relative;
}

section {
    display: block;
    position: relative;
}

.iconos {
    float: right;
    max-width: 225px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.date-text {
    font-size: 15px;
    float: right;
    font-weight: 700;
    font-family: 'basic-comercial';
}

.time-text {
    font-size: 11px;
    float: right;
}
.city-text {
    font-size: 15px;
    font-weight: 700;
    float: right;
    font-family: 'basic-comercial';
}

.day-text {
    font-size: 50px;
    text-align: right;
    display: block;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Menu*/
.nav-item img {
    max-width: 100%;
    width: 270px;
}

.nav-item a {
    padding: 0;
}

.navbar {
    margin-top: 6%;
    padding-left: 0 !important;
    width: 90%;
}

/*Footer*/
.footer {
    margin-top: 50px;
}

.footer li a {
    font-size: 12px;
    font-weight: 500;
    color: #383940;
    font-family: basic-comercial;
}

.footer li {

    line-height: 1.1;
}

.footer img {
    max-width: 20px;
    float: left;
}

.footer .copyright p {
    font-size: 12px;
    text-align: right;
}

.copyright {
    font-size: 12px;
    text-align: right;
    border-top: solid 2px #b5b5b5;
    padding-top: 10px;
}

.socials {
    padding-bottom: 15px;
    display: block;
    float: right;
}

.socials .link,
.socials a {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border: solid 2px black;
    border-radius: 20px;
    /* background-color: #00a39c; */
    display: inline-block;
    transition: all 0.3s ease-in;
}

.socials .link:last-child,
.socials a:last-child {
    margin-right: 0;
}

.socials .link i,
.socials a i {
    color: #000;
}

.social-widget {
    margin-top: 30px;
    border: none;
    padding-top: 0;
}

.social-widget .link,
.social-widget a {
    background-color: #a8b0b6;
    margin-bottom: 10px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    body {
        margin: 5rem !important;
        background-color: #b0b0b2 !important;
    }

    .texto {
        font-size: 50px !important;
    }

}

/* IPHONE CASE*/
.iphone-x {
    position: relative;
    margin: 40px auto;
    width: 100%;
    background-color: #c1bfb6;
    border-radius: 40px;
    box-shadow: 0 0 0 11px #4c4c4c, 0 0 0 13px #a5a5a5, 0 0 0 16px #4c4c4c;
}
.iphone-x .front:after,
.iphone-x .front:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.iphone-x .front:before {
    top: 0;
    width: 40%;
    height: 20px;
    background-color: #4f4f4f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.iphone-x i,
.iphone-x s,
.iphone-x span {
    position: absolute;
    display: block;
    color: transparent;
}
.iphone-x c img {
    width: 50%;
    padding: 5% 0 0 5%;
}
.crt {
    top: 27px;
    width: 100%;
    padding: 0 5%;
    position: relative;
}

.sec-videos img {
    bottom: 3%;
    position: absolute;
}

.sec-videos .btn {
    position: absolute;
    bottom: -0.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff0;
    /* color: white; */
    /* font-size: 16px; */
    /* padding: 8px 32px; */
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25%;
    height: 10%;
    text-align: center;
}

.iphone-x span {
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    /* left: 30px; */
}
.iphone-x span + span {
    left: auto;
    right: 30px;
}

@media (min-width: 768px) {
    body {
        margin: 5rem !important;
        background-color: #b0b0b2 !important;
    }

    .texto {
        font-size: 50px !important;
    }

}

/* IPHONE CASE*/
.iphone-x {
    position: relative;
    margin: 40px auto;
    height: 92vh;
    max-height: 630px;
    width: 100%;
    background-color: #c1bfb6;
    border-radius: 40px;
    box-shadow: 0 0 0 8px #4c4c4c, 0 0 0 12px #a5a5a5, 0 0 0 14px #4c4c4c;
}
.iphone-x .front:after,
.iphone-x .front:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.iphone-x .front:before {
    top: 0;
    width: 40%;
    height: 20px;
    background-color: #4f4f4f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.iphone-x i,
.iphone-x s,
.iphone-x span {
    position: absolute;
    display: block;
    color: transparent;
}
.iphone-x c img {
    width: 50%;
    padding: 5% 0 0 5%;
}
.crt {
    top: 27px;
    width: 100%;
    padding: 0 5%;
    position: relative;
}

.sec-videos img {
    bottom: 3%;
    position: absolute;
}

.sec-videos .btn {
    position: absolute;
    bottom: -0.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff0;
    /* color: white; */
    /* font-size: 16px; */
    /* padding: 8px 32px; */
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25%;
    height: 10%;
    text-align: center;
}

.cabecera {
    top: -30px;
}

/* Smartphones (portrait & landscape) 
  #Dispositivo = MayorÃƒÂ­a de telÃƒÂ©fonos mÃƒÂ³viles (vertical y horizontal) 
  #ResoluciÃƒÂ³n = B/w 320px to 479px */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .no-padding-mobile {
        padding-left: 0 !important;
        padding-right: 0px !important;
        margin-top: -10px;
    }

    .no-padding-mobile-rigth {
      padding-right: 20px !important;
    }
    .iphone-x {
        height: 100vh;
        max-height: 800px;
    }

    .barras {
        display: none;
    }

    .desk {
        display: none;
    }

    .navbar {
        margin-top: 0%;
        width: 100%;
    }
    .cabecera {
        top: 0;
    }

    .autor {
        font-size: 33px;
        filter: blur(0.4px);
        font-weight: bold;
        text-align: right;
        font-family: 'basic-comercial' !important;
        margin-bottom: 0;
        letter-spacing: -2px;
        color: #515254;
    }

    .logo {
        float: right;
        padding-right: 2rem!important;
        max-width: 200px;
    }

    .logo img {
        width: 10rem;
        max-width: 100%;
    }

    .day-text {
        font-size: 36px;
        filter: blur(0.4px);
        font-weight: bold;
        text-align: right;
        font-family: 'basic-comercial' !important;
        margin-bottom: 0;
        letter-spacing: -2px;
        color: #515254;
    }

    .city-text {
        font-size: 10px;
        font-weight: 700;
        float: right;
        font-family: 'basic-comercial' !important;
    }

    .date-text {
        font-size: 10px;
        font-weight: 700;
        float: right;
        font-family: 'basic-comercial';
    }

    .autor-detail {
        font-size: 10px;
        font-family: 'basic-comercial' !important;
    }

    .giant-quotes-quote {
        display: none;
    }

    .iconos {
        width: 75%;
    }

    .menu-disco {
        background: url("../images/disco-movil.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 570px;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }

    .pt-20 {
        padding-top: 8rem;
    }

    .footer {
        margin-top: 0;
    }

    .footer img {
        width: 100%;
        max-width: 100%;
    }

    .footer .copyright p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }

}

/* #Dispositivo = Tablets de baja resoluciÃƒÂ³n y telÃƒÂ©fonos MÃƒÂ³viles (horizontal) 
  #ResoluciÃƒÂ³n = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .iphone-x {
        /* height: 100%; */
        height: 1000px;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    .movil {
        background-image: url("../images/menu-movil.jpg");
        background-position: center top;
        background-size: 100% auto;
        padding-top: 45% !important;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    .iphone-x {
        height: 750px;
    }

    .desk {
        display: none;
    }
    .barras {
        display: none;
    }
    .cabecera {
        top: 0;
    }

    .movil {
        background-image: url("../images/menu-movil.jpg");
        background-position: center top;
        background-size: 100% auto;
        padding-top: 45% !important;
    }

    .autor {
        font-size: 25px;
    }

    .logo img {
        max-width: 120px;
        width: 100%;
    }

    .day-text {
        font-size: 25px;
    }

    .city-text {
        font-size: 10px;
    }

    .date-text {
        font-size: 8px;
    }

    .autor-detail {
        font-size: 12px;
    }

    .giant-quotes-quote {
        display: none;
    }

    .iconos {
        width: 75%;
    }

    .menu-disco {
        background: url("../images/disco-movil.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 530px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        position: relative;
    }

    .pt-20 {
        padding-top: 50%;
    }

    .footer {
        margin-top: 0;
    }

    .footer img {
        width: 100%;
        max-width: 100%;
    }

    .footer .copyright p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }
}

/* iPads (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .autor {
        font-size: 29px;
    }

    .logo img {
        max-width: 200px;
        width: 100%;
    }

    .day-text {
        font-size: 29px;
    }

    .city-text {
        font-size: 11px;
        font-family: 'basic-comercial';
    }

    .date-text {
        font-size: 11px;
        font-family: 'basic-comercial';
    }

    .autor-detail {
        font-size: 11px;
        font-family: 'basic-comercial';
    }

    .giant-quotes-quote {
        display: none;
    }

    .iconos {
        width: 75%;
    }

    .menu-disco {
        background: url("../images/disco.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 570px;
        background-repeat: no-repeat;
        margin-top: 0;
        margin-bottom: 30px;
        position: relative;
    }

    .pt-20 {
        padding-top: 65%;
    }

    .footer {
        margin-top: 0;
    }

    .footer img {
        width: 100%;
        max-width: 20px;
    }

    .footer .copyright p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }
}

/* iPads (landscape) 
  #Dispositivo = Tablets, Ipads (horizontal) 
  #ResoluciÃƒÂ³n = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    //CSS 
}

/* iPads (portrait) 
  #Dispositivo = Tablets, Ipads (vertical) 
  #Resolucion = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* Ordenadores de sobremesa y portÃƒÂ¡tiles */
@media only screen and (min-width : 1224px) {
    .movil {
        display: none !important;
    }
}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 550px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) {}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    //CSS
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    .iphone-x {
        height: 500px;
    }

    .autor {
        font-size: 22px;
        filter: blur(0.4px);
        font-weight: bold;
        text-align: right;
        font-family: 'basic-comercial' !important;
        margin-bottom: 0;
        letter-spacing: -2px;
        color: #515254;
    }

    .logo {
        float: right;
        padding-right: 2rem!important;
        max-width: 200px;
    }

    .no-padding-mobile {
        padding-left: 0 !important;
        padding-right: 0px !important;
        margin-top: -10px;
    }

    .no-padding-mobile-rigth {
      padding-right: 20px !important;
    }
}

/* iPads (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* iPads (landscape) 
  #Dispositivo = Tablets, Ipads (horizontal) 
  #ResoluciÃƒÂ³n = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* iPads (portrait) 
  #Dispositivo = Tablets, Ipads (vertical) 
  #Resolucion = B/w 768px to 1024px */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .iphone-x {
        position: relative;
        margin: 40px auto;
        width: 230px;
        height: 520px;
        background-color: #c1bfb6;
        border-radius: 40px;
        box-shadow: 0 0 0 11px #505050, 0 0 0 13px #a5a5a5, 0 0 0 16px #505050;
    }
}

/* Ordenadores de sobremesa y portÃƒÂ¡tiles */
@media only screen and (min-width : 1224px) {
    //CSS 
}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {
    //CSS 
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    //CSS 
}
