body {
  margin: 10rem !important;
  margin-top: 5rem !important;
  background-color: #b0b0b2 !important;
}

.autor {
  font-size: 35px;
  font-weight: bold;
  text-align: right;
}

.autor-detail {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: auto;
}

.container {
  background-color: #dfded9;
  max-width: 960px;
}

.revista {
  box-shadow: -37px -1px 9px 0px rgba(54,49,49,0.69);
  -webkit-box-shadow: -37px -1px 9px 0px rgba(54,49,49,0.69);
  -moz-box-shadow: -37px -1px 9px 0px rgba(54,49,49,0.69);
}

.logo {
  max-width: 220px;
  width: 100%;
  transition: all .3s ease-in-out;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }